  <section id="home-features" style="padding: 5em 0;text-align:center;">
    <div class="container">
      <div class="row" style="margin-bottom:3em;">
        <div class="col-md-8 col-md-offset-2">
          <h2>Providing information for risk management in the marine environment</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="left-feature">
            <div class="left-feature-icon">
              <span class="glyphicon glyphicon-scale"></span>
            </div>
            <h3>A Simple Index</h3>
            <p>For a chosen area, the marine LEFT tool assembles relevant environmnetal data from global databases.  Within minutes it provides a report with maps of different aspects of the environment</p>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="left-feature">
            <div class="left-feature-icon">
              <span class="glyphicon glyphicon-education"></span>
            </div>
            <h3>World-Class Algorithms</h3>
            <p>The LEFT tool uses algorithms formulated by researchers at the University of Oxford to assess the pattern of ecological features across a chosen area. <!--Ecological features determined are i) numbers of globally threatened plant and animal species ii) biodiversity iii) habitat fragmentation iv) wetland habitat connectivity v) numbers of migratory species and vi) vegetation resilience to climatic perturbations --></p>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="left-feature">
            <div class="left-feature-icon">
              <span class="glyphicon glyphicon-globe"></span>
            </div>
            <h3>Local Assessments, Global Data</h3>
            <p>Any landscape in the world can be assessed - up to approximately 100,000km<sup>2</sup> at a time. Output maps include information on: risk assessment; biodiversity; vulnerability; intactness; connectivity and resilience. <!--Scores for the ecological features within the chosen area are calculated for every 30m giving the finest resolution possible to enable local assessments.--></p>
          </div>
        </div>

      </div>

    </div>
  </section>

  <section id="home-science" style="background: #f9f9f9;padding: 5em 0;text-align:center;">
    <div class="container">
      <div class="col-md-8 col-md-offset-2" style="margin-bottom:0">
          <h2>The Marine LEFT Process</h2>
          <p>Marine LEFT assembles data, performs an analysis and generates a report.</p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <img src="/images/the-process.png" class="img-responsive" alt=""/>
        </div>
      </div>
    </div>
  </section>

    <section id="home-oxford" style="padding: 5em 0;text-align:center;">
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          <h2>A decision support tool for planning</h2>
          <p>The algorithms for Marine LEFT have been developed by our team at the University of Oxford, UK.<p>
            <br/>
        </div>
        <div class="row" style="text-align:left">
          <div class="col-md-6">
            <ul class="spaced-list">
              <li>Algorithms developed from scientific literature</li>
              <li>Globally consistent, up-to-date, high spatial resolution data</li>
              <li>Provides geospatial data to download and use in a desktop Geographical Information System</li>
              <li>Identifies potential operational and reputational risks</li>
              <li>Supports corporate social responsibility reporting</li>
            </ul>
          </div>
        </div>
      </div>
  </section>

  <section id="home-testimonials" style="padding: 1em 0;text-align:center;background-color:#f9f9f9">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <p>MarineLEFT is supported by:</p>
        <img src="/images/logo-equinor.png" style="height:5em" alt="Equinor"/>
        <img src="/images/logo-total.png" style="height:5em" alt="Total"/>
      </div>
    </div>
  </section>