@{
    ViewData["Title"] = "How Marine LEFT Works";
    ViewData["Subtitle"] = "From the underpinning science to the output reports";
}
<h2 id="introduction">@ViewData["Title"].</h2>
<p>@ViewData["Subtitle"].</p>

<div class="row">
    @* Side Navigation *@
    <nav class="col-xs-3 bs-docs-sidebar">
        <ul id="sidebar" class="nav nav-stacked fixed">
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#science">Science Behind the Tool</a></li>
            <li>
                <a href="#interpret">The Marine LEFT Report</a>
                <ul class="nav nav-stacked">
                    <li><a href="#interpret-context">Context</a></li>
                    <li><a href="#interpret-biodiversity">Biodiversity</a></li>
                    <li><a href="#interpret-competing_uses">Processes</a></li>
                    <li><a href="#interpret-processes">Processes</a></li>
                    <li><a href="#interpret-threats">Threats</a></li>
                    <li><a href="#interpret-data_assurance">Data Assurance</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    @* Documentation view *@
    <div class="col-md-9">

        @* Section: Introduction *@
        <section id="introduction">
            <h3>Introduction</h3>
            <p>
                The Marine Local Ecological Footprinting Tool (Marine LEFT), is a web-based decision support tool which can help businesses minimise the environmental impacts of their activities when they make decisions about how the sea is used.
                A user defines an area of interest anywhere in the world using a web-based map and Marine LEFT automatically processes a series of high-quality datasets using standard published algorithms to produce:
                <ul>
                    <li>Exclusive economic zones</li>
                    <li>Marine protected areas</li>
                    <li>Marine ecoregions</li>
                    <li>habitat fragmentation</li>
                    <li>Depth</li>
                    <li>Biodiversity records of corals, marine fish, turtles, sea birds and marine mammals</li>
                    <li>Numbers of globally threatened marine species</li>
                    <li>Numbers of migratory marine species</li>
                </ul>
                These results are aggregated to produce a single map of relative ecological value. The tool then generates a customised pdf report and a zip file of GIS data for the area requested. Results are delivered to users by email within a few minutes of job submission. This tool has been designed to be highly intuitive to use, and requires no specialized software or user expertise.
            </p>
            <p>Novice users can submit an analysis within a few minutes and get results which can inform business decisions.</p>
            <br/>
        </section>

        @* Section: Science *@
        <section id="science">
            <h3><span class="glyphicon glyphicon-education"></span> Science Behind the Tool</h3>
            <hr/>
            <p>
                Each Marine LEFT report contains a detailed description of the analysis process, the specific datasets which have been used with permission in each individual analysis are acknowledged in each report, and the report document contains a reference section.
            </p>
        </section>

        @* Section: Science *@
        <section id="interpret">
            <h3><span class="glyphicon glyphicon-duplicate"></span> The Marine LEFT Report</h3>
            <hr/>
            <p>A Marine LEFT report contains a series of maps and tables representing various aspects of the environment in the area of interest specified by the user.</p>
            <p>The purpose of the maps is to make it possible to identify parts of the landscape which are relatively more important because of the ecological features found there. This will help decision-making about development in sensitive areas and point to areas where mitigation measures could be considered.</p>

            <br/>
            <h4 id="interpret-context">Context</h4>
            <p>Marine LEFT provides information on the political and geographic context of a seascape. The report maps and lists marine protected areas and exclusive economic zones in the area of interest.</p>
            <p>Also included are depth and benthic roughness, marine ecoregions, and the presence of coastal ecosystems (e.g. kelp, seagrass, and mangroves).</p>

            <br/>
            <h4 id="interpret-biodiversity">Biodiversity</h4>
            <p>Marine LEFT provides indicators of the distinct species known to be present in an area, alongside measures of biodiversity data quiality. The quality metrics account for the availability or paucity of biodiversity occurrence data within the area.</p>
            <p>The presence of vulnerable and migratory species, including their names and IUCN red list status, are included.</p>

            <br/>
            <h4 id="interpret-competing_uses">Competing Uses</h4>
            <p>The report contains information on shipping, fisheries and power generation. Fisheries data includes fish catches as well as aquaculture potential. Also included are indicators of the potential for wind- and wave-power generation.</p>

            <br/>
            <h4 id="interpret-processes">Processes</h4>
            <p>Ocean characteristics included are sea surface temperature and temperature fronts, salinity, net primary productivity, and sea ice extent.</p>

            <br/>
            <h4 id="interpret-threats">Threats</h4>
            <p>The modelled threats include ocean warming, coral bleaching, ocean acidification, sea level rise, and invasive species.</p>

            <br/>
            <h4 id="interpret-data_assurance">Data Assurance</h4>
            <p>To appreciate the importance of the ecological values obtained for the specified area of interest relative to other regions, a 'compared to other areas metric' (COAM) is calculated for each report. Within this metric we identify marine ecoregions that are ecologically similar to the area of interest. Zonal statistics are then used to assess the importance of each of the biodiversity, competing uses, processes, and threats, relative to the same measure over the entire ecoregion. The COAM metric indicates whether a study area is relatively more or less important than other regions with similar biogeographic characterisitics.</p>

        </section>

    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('body').scrollspy({
        target: '.bs-docs-sidebar',
        offset: 80
    });
});
</script>