@{
    ViewData["Title"] = "Pricing";
}

<div style="text-align:center;">
<br/>
<h2>Marine LEFT is free of charge</h2>


<div class="row">
    <div class="col-md-3 col-md-push-3">
        <div class="panel panel-primary pricing-panel" style="border-color: lightgrey;">
            <div class="panel-heading" style="background-color: lightgrey;border-color:lightgray;color:black;height:6em;">
                <h3 class="panel-title"><h3>Free</h3></h3>
            </div>
            <div class="panel-body">
            <p>Analyse a seascape up to ten decimal degrees squared. Each analysis includes:</p>
            
            <ul>
            <li style="line-height: 2em;">One Marine LEFT Report</li><li style="line-height: 2em;">Download of Underlying Data</li>
            </ul><p>Programmatic access to data products using the LEFT API.</p>
            <a class="btn btn-default btn-lg" asp-action="Index" asp-controller="Dashboard">Get Started</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-md-push-3">
        <div class="panel panel-primary pricing-panel" style="border-color: lightgrey;">
            <div class="panel-heading" style="background-color: #03326883;border-color:lightgray;color:black;height:6em;">
                <h3 class="panel-title"></h3><h3>Backer</h3>
            </div>
            <div class="panel-body">
            <p>Analyse a seascape up to ten decimal degrees squared. Each analysis includes:</p>
            
            <ul>
            <li style="line-height: 2em;">One Marine LEFT Report</li><li style="line-height: 2em;">Download of Underlying Data</li>
            </ul><p>Programmatic access to data products using the LEFT API.</p>
            <a class="btn btn-default btn-lg" asp-action="Index" asp-controller="Dashboard">Inquire</a>
            </div>
        </div>
    </div>
</div>

<h4><a asp-action="Terms" asp-controller="Home">Terms of Supply</a></h4>
<p>When reading our terms and conditions, “Marine LEFT reports” include the entire output of our analysis, i.e. not just the maps and tables referred to as being contained in our report per se, but also the associated raster dataset files.</p>
