@{
ViewData["Title"] = "Our Terms of Supply";
}
<h2>@ViewData["Title"].</h2>
<br/>

<dl class="dl-horizontal">
    <dt>1.</dt><dd><strong>THESE TERMS</strong></dd>
    <dt>1.1</dt><dd><strong>What these terms cover.</strong> These are the terms and conditions on which we supply products to you.</dd>
    <dt>1.2</dt><dd><strong>Why you should read them.</strong> Please read these terms carefully before you submit your order to us (both before purchasing a LEFT credit, as well as when you order a LEFT report). These terms tell you who we are, how we will provide products to you, how you and we may change or end the contract, what to do if there is a problem and other important information. If you think that there is a mistake in these terms, please contact us to discuss. </dd>
    <dt>1.3</dt><dd><strong>Changing the terms.</strong> We may at any time revise, amend, add or withdraw information to the site and/or to these terms. You will be bound by the relevant terms applicable at the time that you submit an order to us. </dd>
    
    <dt>2.</dt><dd><strong>INFORMATION ABOUT US AND HOW TO CONTACT US</strong></dd>
    <dt>2.1</dt><dd><strong>Who we are.</strong> We are Oxford Long-Term Ecology Laboratory of the Department of Zoology, which is a department within the University of Oxford. The University’s full name is “The Chancellor, Masters and Scholars of the University of Oxford”. The University’s administrative offices are at Wellington Square, Oxford OX1 2JD, United Kingdom. </dd>
    <dt>2.2</dt><dd><strong>How to contact us. </strong>You can contact us by telephone at +44 1865 281 878 or by writing to us at leftsupport@zoo.ox.ac.uk or Oxford Long-term Ecology Laboratory, Department of Zoology, The Tinbergen Building, South Parks Road, Oxford OX1 3PS. </dd>
    <dt>2.3</dt><dd><strong>How we may contact you. </strong>If we have to contact you we will do so by writing to you at the email address you provided to us in your order.</dd>
    <dt>2.4</dt><dd><strong>"Writing" includes emails. </strong> When we use the words "writing" or "written" in these terms, this includes emails.</dd>
    <dt>2.5</dt><dd><strong>The term “consumer”. </strong>When we use the word “consumer” in these terms, we mean an individual (that is a natural person rather than a legal entity such as a company) who is acting for purposes wholly or mainly outside his or her trade, business, craft or profession. If you are a consumer, you are entitled to certain special protections under the law, which we have highlighted in certain of our terms. </dd>
    
    <dt>3.</dt><dd><strong>OUR CONTRACT WITH YOU AND YOUR ACCESS</strong></dd>
    <dt>3.1</dt><dd><strong>Pricing.</strong>A description of our pricing, use of credits, and the outputs we supply to you (collectively “LEFT reports” or “reports”) <a asp-action="Pricing" asp-controller="Home">is provided here</a>. A contract will come into existence between you and us when you purchase one or more LEFT credits, but we will not have any obligation to perform services or provide any LEFT reports unless and until you place an order with us for such, including by providing the requisite information for us to prepare such LEFT report(s).</dd>
    <dt>3.2</dt><dd><strong>Access.</strong> Your access to and use of this site, including any password access to the site, may be changed, restricted or terminated by us by notice with immediate effect at any time and for any or no reason. </dd>
    <dt>3.3</dt><dd><strong>Applicable laws.</strong> You will use this site in a manner consistent with all applicable laws, legislation, rules and regulations. </dd>
    <dt>3.4</dt><dd><strong>Security.</strong> You will take reasonable steps to ensure that no unauthorised user accesses any account created with your username and password. You should inform us of any apparent breaches of security such as loss, theft or unauthorised disclosure or use of any ID, password or key which we may issue to you. Until we are notified by you, you will remain liable for any unauthorised use. </dd>

    <dt>4.</dt><dd><strong>CREDITS AND REPORTS</strong></dd>
    <dt>4.1</dt><dd><strong>Credits.</strong>Each LEFT credit costs £250 (including Value Added Tax at 20%). You are free to purchase one or more LEFT credits at any time. Each LEFT credit can be used to order one LEFT report. </dd>
    <dt>4.2</dt><dd><strong>Reports.</strong>LEFT reports are <a asp-action="Pricing" asp-controller="Home">described briefly here and on our website</a>, which includes examples of the products we provide. Please note that the report will be generated based on the specifications you have provided; once you have ordered a report, you cannot make any changes to the specified geographic area. </dd>

    <dt>5.</dt><dd><strong>PROVIDING THE PRODUCTS</strong></dd>
    <dt>5.1</dt><dd><strong>Making Payments.</strong>Payments for credits will be collected on a separate payment website where you can enter the requested payment information securely. The terms and conditions of that third party website will govern your use of that website, including the security of your financial information and the process for making payments for LEFT credits, to the exclusion of the present terms. Please read the payment website’s terms and conditions, including their privacy policy, carefully as your proceeding to use that website will constitute acceptance of those terms and conditions.</dd>
    <dt>5.2</dt><dd><strong>When we will provide the reports.</strong>During the order process we will let you know approximately when the report will be available for download by you, and you will be notified by email when the report is available for download. </dd>
    <dt>5.3</dt><dd><strong>We are not responsible for delays outside our control.</strong>If our supply of the products is delayed by an event outside our control then we will contact you as soon as possible to let you know, and we will take steps to minimise the effect of the delay. Provided we do this, we will not be liable for delays caused by the event. Your rights to cancel as described in clauses 8 and 9 will still apply to the extent that they are relevant to your situation. </dd>

    <dt>6.</dt><dd><strong>USE OF THE PRODUCTS</strong></dd>
    <dt>6.1</dt><dd><strong>Reliance on our information.</strong>This site and any products that you order are intended to merely give you simple and quick preliminary environmental information about a particular geographical area. The site and our products are not a substitute for specific land surveys and other professional due diligence. You should not rely on or make any decisions relating to prospective investments or other projects on the basis of the information supplied by this site or provided in our products. You assume sole responsibility for results obtained from the use of the information we provide by you, and for conclusions drawn from such use. You will not provide any information obtained from us to any client or third party, or permit any client or third party to be aware of or rely on our information without such information first being considered by you using your professional skills and, where adopted by you, being incorporated into your own advice to your client.</dd>
    <dt>6.2</dt><dd><strong>Your use of information.</strong>You are solely responsible for the appropriate use and adaptation of the information we provide for your own use and in your provision of advice and services to your clients. Without limitation to the previous sentence, we shall have no liability for any damage caused by errors or omissions in any information or instructions provided by you, or any actions taken by us at your direction.</dd>
    <dt>6.3</dt><dd><strong>Third party information.</strong>The information that you obtain on this site and through our products relies on the quality, availability and integrity of third party databases, and deficiencies in them may cause errors or defects in the information supplied by this site including in any LEFT reports.</dd>
    <dt>6.4</dt><dd><strong>Other clients.</strong>You recognise and accept that we may provide information and materials to the same or similar queries asked by any of our other clients. </dd>

    <dt>7.</dt><dd><strong>PROTECTION OF INTELLECTUAL PROPERTY</strong></dd>
    <dt>7.1</dt><dd><strong>Copyright and other intellectual property.</strong>The copyright and other intellectual property rights in material on this site is owned or licensed to the University of Oxford and protected by domestic and international copyright laws. Except as expressly stated in these terms, we do not grant you any rights to, or in, patents, copyrights, database rights, trade secrets, trade names, trade marks (whether registered or unregistered), or any other rights or licences in respect of the information or materials provided by this site. </dd>
    <dt>7.2</dt><dd>
        <strong>Your rights of use.</strong>You may use the site for the intended purposes described below only, but for no other purpose. You may
        <ol type="a">
            <li>view, copy, download and print the information provided by this site for your own personal, academic, or business purposes;</li>
            <li>copy, download, revise, customise and use the information provided by this site for the purposes of any matter on which you are advising; </li>
            <li>make available to clients, potential clients and others copies of materials that contain information provided by this site on a reasonable, non-systematic basis that is not commercially prejudicial to us. </li>
        </ol>
        <strong>YOU MUST NOT REMOVE OR INTERFERE WITH ANY TRADE MARK, COPYRIGHT OR OTHER PROPRIETARY NOTICE. </strong>
    </dd>
    <dt>7.3</dt><dd><strong>No other rights.</strong>Except as expressly provided above, you agree that you do not have any licence or right under any copyright or other intellectual property rights owned by or licensed to us in respect of this site or the information and materials in it. </dd>

    <dt>8.</dt><dd><strong>DELAYED OR SUSPENDED SUPPLY OF PRODUCTS</strong></dd>
    <dt>8.1</dt><dd><strong>Delayed delivery.</strong>If we do not make a report you have ordered available for download within 2 working days, you can cancel the order for that report. If the report has been delivered (late) but not downloaded yet, you must notify us that you wish to cancel your order. Downloading a report at any time will mean that your right to cancel the order with respect to that report will be waived even if you have notified us of your wish to cancel. </dd>
    <dt>8.2</dt><dd>
        <strong>Reasons we may suspend the supply of products to you.</strong>We may have to suspend the supply of a product, including but not limited to the following reasons:
            <ol type="a">
            <li>to deal with technical problems or make minor technical changes;</li>
            <li>to update the product to reflect changes in relevant laws and regulatory requirements;</li>
            <li>if we temporarily or permanently suspend our operations (including of the site or of our supply of products);</li>
            <li>if we close down or transfer the site to another site.</li>
        </ol>
    </dd>
    <dt>8.3</dt><dd><strong>Your rights if we suspend the supply of products.</strong>We will contact you to tell you we will be suspending supply of any of our products if you have unused credits or any outstanding orders which may be affected by that suspension. We will endeavour to notify you in advance of the suspension unless the problem is urgent or an emergency. Upon your request, we will refund any sums you have paid in advance for the credits and/or for the product in question.</dd>

    <dt>9.</dt><dd><strong>YOUR RIGHTS TO CANCEL</strong></dd>
    <dt>9.1</dt><dd><strong>Faulty or misdescribed products.</strong>If what you have bought is faulty or misdescribed you may have a legal right to end the contract (or to get the product repaired or replaced or a service re-performed or to get some or all of your money back), see clause 11;</dd>
    <dt>9.2</dt><dd><strong>If we have done something wrong.</strong>If we have told you about an error in the price or description of the product you have ordered and you do not wish to proceed, or you have a legal right to end the contract because of something we have done wrong, please let us know and we will refund you in full for any products which have not been provided and you may also be entitled to compensation. For your rights where products are delayed or suspended, see clause 8 above.</dd>
    <dt>9.3</dt><dd>
        <strong>Changing your mind as a consumer.</strong>If you are a consumer and have just changed your mind, you can exercise your right under the Consumer Contracts Regulations 2013. You may be able to get a refund if you are within the cooling-off period, but this may be subject to deductions.
        <ol type="a">
            <li>
                <strong>When you don't have the right to change your mind.</strong> You do not have a right to change your mind in respect of: 
                <ol type="i">
                    <li>digital content products after you have started to download or stream these; or </li>
                    <li>services, once these have been performed, even if the cancellation period is still running. </li>
                </ol>
            </li>
            <li>
                <strong>(a)	How long do I have to change my mind?</strong>
                <ol type="i">
                    <li>Our LEFT reports are presented as digital content but also require us to perform services for every order placed. Consequently, you have 14 days to cancel after we accept your order, or until you start downloading or streaming the report, or until we have performed the services required to supply the report, whichever is earliest. </li>
                    <li><strong>ONCE WE HAVE PERFORMED THE SERVICES DESCRIBED ABOVE, YOU CANNOT CHANGE YOUR MIND, EVEN IF THE 14 DAY PERIOD IS STILL RUNNING, AND YOU NO LONGER HAVE THE RIGHT TO CANCEL THE ORDER.</strong> In any event, if you cancel after we have started the services, you must pay us for the services provided up until the time you tell us that you have changed your mind.</li>
                    <li>(i)	If you contact us about cancelling an order you have placed, we will let you know if our services have been undertaken and only refund you in accordance with the preceding paragraph. </li>
                </ol>
            </li>
        </ol>
    </dd>
    <dt>9.4</dt><dd><strong>If you are <u>not</u> a consumer as defined under the Consumer Rights Act 2015 (the Act), your rights to cancel an order already placed are limited to clauses 9.1 and 9.2 above, i.e. you do not have a right to cancel an order already placed without cause under clause 9.3 or otherwise.</strong></dd>
    <dt>9.5</dt><dd><strong>Refunds for credits.</strong>You may request a refund for credits purchased and not used at any time within 14 days of purchase. </dd>
    <dt>9.6</dt><dd><strong>Expiry of credits. CREDITS NOT USED TO PURCHASE LEFT REPORTS WILL EXPIRE 1 YEAR FROM THE DAY THEY WERE PURCHASED.</strong> This time limit does not affect your cancellation and refund rights in clauses 9.1 through 9.3 (inclusive). </dd>
    
    <dt>10.</dt><dd><strong>HOW TO END THE CONTRACT WITH US</strong></dd>
    <dt>10.1</dt><dd>
        <strong>Tell us you want to end the contract.</strong> To end the contract with us, please let us know by doing one of the following:  
        <ol type="a">
            <li><strong>Phone or email.</strong> Call customer services on +44 1865 281 878 or email us at  leftsupport@zoo.ox.ac.uk. Please provide your name, home address, details of the order and, where available, your phone number and email address. </li>
            <li><strong>Online.</strong> Complete the <a asp asp-action="Contact" asp-controller="Home">form</a> on our website, including the reference number for the order you wish to cancel. </li>
        </ol>
    </dd>
    <dt>10.2</dt><dd><strong>How we will refund you.</strong> We will refund you the price you paid for the credits you wish to cancel, by the method you used for payment. However, we may make deductions from the price, as described below. </dd>
    <dt>10.3</dt><dd><strong>Deductions from refunds if you are a consumer exercising your right to change your mind.</strong> If you are exercising your right to change your mind: 
Production of a LEFT report requires us to perform a service, we may deduct from any refund an amount for the supply of the service for the period for which it was supplied, ending with the time when you told us you had changed your mind. The amount will be in proportion to what has been supplied, in comparison with the full coverage of the contract. However, please note that it is possible for the entire refund to be deducted if we have performed the services which we consider to constitute the value of the order.</dd>

    <dt>11.</dt><dd><strong>IF THERE IS A PROBLEM WITH THE PRODUCT</strong></dd>
    <dt>11.1</dt><dd><strong>How to tell us about problems.</strong> If you have any questions or complaints about the product, please contact us. You can telephone our customer service team at +44 1865 281 878 or write to us at  leftsupport@zoo.ox.ac.uk or Oxford Long-term Ecology Laboratory, Department of Zoology, The Tinbergen Building, South Parks Road, Oxford OX1 3PS.</dd>
    <dt>11.2</dt>
    <dd>
        <strong>As a consumer, your rights are summarised below:</strong>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Summary of your key legal rights as a consumer</h3>
            </div>
            <div class="panel-body">
                <p>This is a summary of your key legal rights. These are subject to certain exceptions. For detailed information please visit the Citizens Advice website www.adviceguide.org.uk or call 03454 04 05 06.</p>
                <p>The Consumer Rights Act 2015 says digital content must be as described, fit for purpose and of satisfactory quality:
                    <ul>
                        <li>if your digital content is faulty, you're entitled to a repair or a replacement.</li>
                        <li>if the fault can't be fixed, or if it hasn't been fixed within a reasonable time and without significant inconvenience, you can get some or all of your money back</li>
                        <li>if you can show the fault has damaged your device and we haven't used reasonable care and skill, you may be entitled to a repair or compensation</li>
            </div>
        </div>
    </dd>
    <dt>11.3</dt><dd>If you are not contracting with us as a consumer, clause 12.1 applies to the fullest extent possible. </dd>

    <dt>12.</dt><dd><strong>OUR RESPONSIBILITY FOR LOSS OR DAMAGE SUFFERED BY YOU</strong></dd>
    <dt>12.1</dt><dd><strong>Unforeseeable losses for consumers and other exclusions for non-consumers.</strong> We are not responsible for any loss or damage that is not foreseeable. If you are a consumer, loss or damage is foreseeable if either it is obvious that it will happen or if, at the time the contract was made, both we and you knew it might happen, for example, if you discussed it with us during the sales process. If you are not a consumer, we exclude all liability for any indirect, special, incidental or consequential losses, even if we have been advised of the possibility that such losses might be suffered by you or a third party, and we exclude all warranties, conditions and other terms implied by statute or common law to the fullest extent permitted by law, including (without limitation) the implied warranties of merchantability, satisfactory quality, or fitness for a particular or general purpose and non-infringement of third party rights.</dd>
    <dt>12.2</dt><dd><strong>We do not exclude or limit in any way our liability to you where it would be unlawful to do so. </strong> This includes liability for death or personal injury caused by our negligence or the negligence of our employees, agents or subcontractors; for fraud or fraudulent misrepresentation; if you are a consumer, for breach of your legal rights in relation to the products as summarised at clause 11.2; for any other rights which by law cannot be limited or excluded.</dd>
    <dt>12.3</dt><dd><strong>We are not liable for business losses. </strong> We will have no liability to you for any loss of profit, loss of revenue, loss of contracts or goodwill, loss of business, business interruption, or loss of business opportunity.</dd>
    <dt>12.4</dt><dd><strong>Our limitation of liability. </strong> To the fullest extent possible, but subject to clause 12.2, our maximum liability to you under or otherwise in connection with these terms or their subject matter shall be limited to, in respect of all claims (connected or unconnected) in any consecutive 12 month period, the equivalent of the price paid by you for our products in that period.</dd>
    <dt>12.5</dt><dd><strong>Indemnity. </strong> If you breach any of these terms, you agree to indemnify us for any losses, costs or damages, including reasonable legal fees, incurred by us in relation to, or arising out of, such a breach. </dd>

    <dt>13.</dt><dd><strong>INFORMATION YOU PROVIDE</strong></dd>
    <dt>13.1</dt><dd><strong>Do not submit confidential information. </strong> Information you provide to us is treated in accordance with our <a asp-action="Privacy" asp-controller="Home">Privacy Policy</a>. Your acceptance of these terms also means that you accept the terms of our Privacy Policy. Please note that clause 5.1 applies to financial information and other information submitted through our third party payment processor. 
    <p>When ordering a LEFT report, we only require you to specify the geographical parameters on which you wish for us to carry out a LEFT assessment in order to produce a LEFT report; any other information you supply is at your own discretion and for your own reference. Do not provide or otherwise input any confidential information for the purpose of a query or any order you place with us which you are not happy to be handled in accordance with these terms and our Privacy Policy. 
</p>
    </dd>

    <dt>14.</dt><dd><strong>OTHER IMPORTANT TERMS</strong></dd>
    <dt>14.1</dt><dd><strong>We may transfer this agreement to someone else. </strong> We may transfer our rights and obligations under these terms to another organisation. We will always tell you in writing if this happens and we will ensure that the transfer will not affect your rights under the contract.</dd>
    <dt>14.2</dt><dd><strong>If a court finds part of this contract illegal, the rest will continue in force. </strong> Each of the paragraphs of these terms operates separately. If any court or relevant authority decides that any of them are unlawful, the remaining paragraphs will remain in full force and effect. </dd>
    <dt>14.3</dt><dd><strong>Which laws apply to this contract and where you may bring legal proceedings. </strong> These terms are governed by English law and you can bring legal proceedings in respect of the products in the English courts. </dd>
    <dt></dt><dd><strong>For consumers: </strong> If you are a consumer, you may also enjoy mandatory consumer protections in your country of residence. Without limiting the generality of the previous sentence, consumers living in Scotland can bring legal proceedings in respect of the products in either the Scottish or the English courts, and consumers living in Northern Ireland can bring legal proceedings in respect of the products in either the Northern Irish or the English courts.</dd>
</dl>
