$primary-color: #002147;
$primary-color-accent: #254365;

$footer-background: #f9f9f9;
$footer-text: black;
$footer-links: #002147;

$navbar-background: #FFF;

$input-glow-colour: rgba(169, 62, 113, 150);