$primary-color: #033268;
$primary-color-accent: #254365;

$footer-background: #03326883;
$footer-text: #dce3eb;
$footer-links: #c0d1e5;

$navbar-background: #FFF;

$input-glow-colour: rgba(3, 50, 104, 0.575);