$primary-color: #01356B;
$primary-color-accent: #0285BE;

$footer-background: #0285BE;
$footer-text: #dce3eb;
$footer-links: #c0d1e5;

$navbar-background: #FFF;

$input-glow-colour: rgba(3, 50, 104, 0.575);