@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<img src="/images/logo-black.png" style="max-height:10em;float:right;" alt="Ecoset Logo"/>
<p>Insert information about your ecoset instance here</p>
<br/>