@{
    ViewData["Title"] = "Home";
}

@section fullWidthTop {
  <section id="home-jumbo" style="background-image: url(/images/banner.jpg); height: 290px;">
    <div class="container">
      <div class="home-jumbo-left">
        <h1>@customText.Value.Values["HomeHero"]</h1>
        <div class="home-jumbo-buttons">
          @if (siteConfig.Value.VimeoPromotionVideoId != 0) {
            <a href="https://player.vimeo.com/video/@siteConfig.Value.VimeoPromotionVideoId" class="btn btn-lg btn-outline popup-vimeo"><span class="glyphicon glyphicon-play"></span> Watch video</a>
          }
          @if (siteConfig.Value.SampleReportEnabled) {
            <a href="/samples/sample-report.pdf" target="_blank" class="btn btn-lg btn-outline" onclick="ga('send', 'event', 'Samples', 'view', 'Sample Report');">Sample Report</a>
          }
          <a asp-action="Index" asp-controller="Dashboard" class="btn btn-lg btn-primary">Get Started</a>
      </div>
      <!--<div class="left-feature-followon">
        <span>Learn More</span>
        <span class="glyphicon glyphicon-chevron-down"></span>
      </div>-->
      </div>
    </div>
  </section>

  @{await Html.RenderPartialAsync("_FrontMatter"); }

  <section id="home-get-started" style="color:#fff;padding: 5em 0;text-align:center;">
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          <a asp-action="Index" asp-controller="Dashboard" class="btn btn-lg btn-primary">Register for Free</a>
          <a asp-action="HowItWorks" asp-controller="Home" class="btn btn-lg btn-default">Read more</a>          
        </div>
      </div>
  </section>
}

@section scripts {
      <environment names="Development">
        <script src="/lib/magnific-popup/jquery.magnific-popup.min.js"></script>
        <link rel="stylesheet" href="/lib/magnific-popup/magnific-popup.css" />
      </environment>
      <environment names="Staging,Production">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" />
      </environment>
  <script src="/scripts/popup.js"></script>
}

<script type="text/javascript">
$(document).ready(function(){     
  $('.navbar-default').addClass('navbar-transparent');
  $('body').css('padding-top', '0');  
   var scroll_start = 0;
   var startchange = $('#home-jumbo');
   var offset = startchange.offset();
    if (startchange.length){
   $(document).scroll(function() { 
      scroll_start = $(this).scrollTop();
      if(scroll_start > offset.top) {
          $('.navbar-default').removeClass('navbar-transparent');
       } else {
          $('.navbar-default').addClass('navbar-transparent');
       }
   });
    }
});
</script>