@{
ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"].</h2>

<p><strong>PRIVACY POLICY</strong></p>

<p>We are Oxford Long-Term Ecology Laboratory of the Department of Zoology, which is a department within the University of Oxford. </p>

<p>We want to protect the privacy of all visitors to our websites and of all of our customers, and this policy will help you to understand how we use your personal data. </p>

<p>This policy (together with our <a asp-action="Terms" asp-controller="Home">Website Terms and Terms of Supply</a>, and any other documents referred to on it) sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us. Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it. </p>

<p>By visiting <a href="https://www.left.ox.ac.uk/">https://www.left.ox.ac.uk/</a> and/or by giving us any personal data, you are accepting and consenting to the practices described in this policy, including our use of cookies as explained below. </p>

<p>For the purpose of the General Data Protection Regulation (GDPR), the data controller for the information that you provide us when visiting our website is The Chancellor, Masters and Scholars of the University of Oxford, whose administrative offices are at Wellington Square, Oxford OX1 2JD, United Kingdom (The University). </p>

<p><strong>WHO IS USING YOUR PERSONAL DATA?</strong></p>

<p>Access to your personal data within the University will be provided to those staff who need to view it as part of their work in connection with the operation of this website.</p>

<p>Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it. </p>

<p>Where we refer in this policy to your 'personal data', we mean any recorded information that is about you and from which you can be identified. It does not include data where your identity has been removed (anonymous data).</p>

<p>Where we refer to the 'processing' of your personal data, we mean anything that we do with that information, including collection, use, storage, disclosure or retention. </p>

<p><strong>TYPES OF INFORMATION WE COLLECT</strong></p>

<p><em>*Information you give us. *</em>You may provide us with personal information such as your name and contact details when you fill in a form on our site or when you correspond with us by phone, e-mail or otherwise. This is done to enable us to provide our products and services to you, for example in order for you to create an account, purchase credits, place an order, make an enquiry, or report a problem. </p>

<p><strong>Payment information.</strong>In order to purchase our products, you will be asked to visit a separate payment website where you can enter the requested payment information securely. The terms and conditions of that third party website will govern your use of that website, including the security of your financial information and the process for making payments, to the exclusion of the present Privacy Policy and all our other terms and conditions. Please read the payment website's terms and conditions, including their privacy policy, carefully as your proceeding to use that website will constitute acceptance of those terms and conditions and policy.</p>

<p><strong>Information automatically collected when visiting the website.</strong>We may also collect information about your computer, including where available your IP address, operating system and browser type, and information about your visit (such as clickstream to and from our site and pages viewed) for system administration and to report aggregate information to our webmasters. This is statistical data about our users' browsing actions and patterns which does not identify any individual and allows us to ensure that content from our site is presented in the most effective manner for you and for your computer.</p>

<p><strong>COOKIES</strong></p>
 
<p>Our website uses cookies to distinguish you from other users of our website. In particular, we use Google Analytics cookies for the purposes of managing the performance and design of the site. This helps us to provide you with a good experience when you browse our website and also allows us to improve our site. By continuing to browse our site, you are agreeing to our use of cookies.</p>

<p>A cookie is a small piece of data or message that is sent from a web server to your browser and stored on the hard drive of your computer. Cookies may make it easier for you to log on to and use this website in future. They allow us to monitor website traffic and to personalise the content of this site for our visitors. </p>

<p>We use the following cookies: </p>

<p>-      <strong>Strictly necessary cookies.</strong>These are cookies that are essential in order to enable you to move around the website and use its features, such as accessing secure areas of the website.</p>

<p>-      <strong>Analytical/performance cookies.</strong>They allow us to recognise and count the number of visitors and to see how visitors move around our website when they are using it. All information these cookies collect is aggregated and therefore anonymous. This helps us to improve the way our website works, for example, by ensuring that users are finding what they are looking for easily. </p>

<p>-      <strong>Functionality cookies.</strong>These are used to recognise you when you return to our website and to remember choices you make and provide enhanced, more personal features. </p>

<p>Most web browsers allow some control of most cookies through the browser settings. To find out more about cookies, including how to see what cookies have been set and how to manage and delete them, please visit <a href="http://www.allaboutcookies.org/">www.allaboutcookies.org</a>.</p>

<p>To opt out of being tracked by Google Analytics across all websites visit <a href="http://tools.google.com/dlpage/gaoptout">http://tools.google.com/dlpage/gaoptout</a>.</p>

<p>However, if you disable or decline cookies, some features will not be available to you or function properly and you may not be able to access some parts of the website.</p>

<p><strong>USES MADE OF THE INFORMATION</strong></p>

<p>We use and analyse information held about you in the following ways:</p>

<p>-      to provide you with access to relevant parts of our website;</p>

<p>-      to supply you with the information, products and services that you request from us;</p>

<p>-      as part of our efforts to keep our site safe and secure;</p>

<p>-      to administer, support, improve and develop our site, products and services; in particular, we may use your personal data to contact you for your views on our products and services and to notify you occasionally about changes or developments to our website, products or services; </p>

<p>This processing is necessary to meet our contractual obligations to you or to take steps requested by you prior to entering into a contract. Information processed for this purpose includes, but is not limited to:</p>

<p>-       Where we have your consent to send you marketing or other types of communication by email. We do this only where you have specifically indicated that you consent to receive such communications, for example, by ticking a box or through some other action, or by volunteering non-mandatory information. In this case, we may contact you by e-mail or by post to market our products and services, but you may withdraw your consent in order to stop receiving these types of communications from us at any time by contacting us at leftsupport@zoo.ox.ac.uk. Inthis event, we will stop any processing as soon as we can. However, this will not affect the lawfulness of any processing carried out before your withdrawal of consent and you may no longer be able to use the site in the same way you did before.[A1]  </p>

<p>-       For the purposes for which you will use this website (e.g. for producing and sending you LEFT reports and geospatial data). This processing is necessary to meet our contractual obligations to you, to take steps requested by you prior to entering into a contract or to meet our legitimate interests. Information processed for this purpose includes, but is not limited to, for example, notifying you that a LEFT report has been completed.</p>

<p>We will only use your data for the purposes for which we collected it, unless we reasonably consider that we need to use it for another related reason and that reason is compatible with the original purpose. If we need to use your data for an unrelated purpose, we will seek your consent to use it for that new purpose. </p>

<p>Please note that we may process your data without your knowledge or consent, in compliance with the above rules, where this is required or permitted by law.</p>

<p><strong>WHEN WE SHARE YOUR INFORMATION</strong></p>

<p>We do not sell your personal information to third parties. </p>

<p>We share your information within the University of Oxford. We may also share your information with our affiliates, our business partners, our agents, our distributors, our suppliers, and our sub-contractors that assist us in making our website and/or the products and services on our website available to you. This includes, without limitation, analytics and search engine providers that assist us in the improvement and optimisation of our site. </p>

<p>If we believe that your use of our website is unlawful or damaging to others, we reserve the right to disclose the information we have obtained through our website about you to third parties to the extent that it is reasonably necessary in our opinion to prevent, remedy or take action in relation to such conduct. </p>

<p>We may also disclose or share your personal data in order to comply with any legal obligation; in order to enforce or apply any agreements or licences with you; or to protect the rights, property, or safety of the University of Oxford, our employees, affiliates, agents, distributors, licensors, suppliers, business partners, sub-contractors, and/or our customers. This includes exchanging information with other companies and organisations for the purposes of fraud protection and credit risk reduction.</p>

<p>If any part of our business (including those of our affiliates) is sold or integrated with another business, your details may be disclosed to our advisers and any prospective purchasers and their advisers.</p>

<p>Where your data is shared with third parties, we will seek to share the minimum amount necessary. </p>

<p><strong>WHERE WE STORE YOUR PERSONAL DATA</strong></p>

<p>Information which you provide to us will ordinarily be stored on our secure servers. There may be occasions when we transfer your data outside the European Economic Area (EEA), for example, when we communicate with you using a cloud based service provider that operates outside the EEA [such as SendGrid]. Such transfers will only take place if one of the following applies:</p>

<p>-               the country receiving the data is considered by the EU to provide an adequate level of data protection;</p>

<p>-               the organisation receiving the data is covered by an arrangement recognised by the EU as providing an adequate standard of data protection e.g. transfers to companies that are certified under the EU US Privacy Shield;</p>

<p>-               the transfer is governed by approved contractual clauses;</p>

<p>-               the transfer has your consent;</p>

<p>-               the transfer is necessary for the performance of a contract with you or to take steps requested by you prior to entering into that contract; or</p>

<p>-               the transfer is necessary for the performance of a contract with another person, which is in your interests.</p>

<p>Unfortunately, no data transmission over the internet is completely secure. We therefore cannot guarantee the security of your data transmitted to our site, and any transmission is at your own risk.</p>

<p>Where we have given you (or where you have chosen) a password which enables you to access certain parts of our site, you are responsible for keeping this password confidential. We ask you not to share a password with anyone.</p>

<p><strong>YOUR RIGHTS</strong></p>

<p>Under certain circumstances, by law you have the right to:</p>

<p>-        <em>*Request access to your data *</em>(commonly known as a "subject access request"). This enables you to receive a copy of your data and to check that we are lawfully processing it.</p>

<p>-        <strong>Request correction of your data</strong>. This enables you to have any incomplete or inaccurate information we hold about you corrected.</p>

<p>-        <strong>Request erasure of your data</strong>. This enables you to ask us to delete or remove your data where there is no good reason for us continuing to process it. You also have the right to ask us to delete or remove your data where you have exercised your right to object to processing (see below).</p>

<p>-        <strong>Object to processing of your data where we are relying on our legitimate interests</strong>(or those of a third party) and there is something about your particular situation which makes you want to object to processing on this ground. You also have the right to object where we are processing your data for direct marketing purposes.</p>

<p>-        <strong>Request the restriction of processing of your data</strong>. This enables you to ask us to suspend the processing of your data, for example if you want us to establish its accuracy or the reason for processing it.</p>

<p>-        <strong>Request the transfer of your data to another party</strong>. </p>

<p>Depending on the circumstances and the nature of your request it may not be possible for us to do what you have asked, for example, where there is a statutory or contractual requirement for us to process your data and it would not be possible to fulfil our legal obligations if we were to stop.  However, where you have consented to the processing (for example, where you have asked us to contact you for marketing purposes) you can withdraw your consent at any time by emailing us at leftsupport@zoo.ox.ac.uk. In this event, we will stop the processing as soon as we can.  However, this will not affect the lawfulness of any processing carried out before your withdrawal of consent and you may no longer be able to use the site in the same way as you did before. </p>

<p>If you want to exercise any of the rights described above or are dissatisfied with the way we have used your information, you should contact theUniversity'sInformation Compliance Teamat data.protection@admin.ox.ac.uk.  The same email address may be used to contact the University's Data Protection Officer.  We will seek to deal with your request without undue delay, and in any event in accordance with the requirements of the GDPR. Please note that we may keep a record of your communications to help us resolve any issues which you raise.</p>

<p>If you remain dissatisfied, you have the right to lodge a complaint with the Information Commissioner's Office at <a href="https://ico.org.uk/concerns/">https://ico.org.uk/concerns/</a>. </p>

<p><strong>RETAINING YOUR DATA</strong></p>

<p>We will only retain your data for as long as we need it to fulfil our purposes, including any relating to legal, accounting, or reporting requirements.</p>

<p><strong>ACCESS TO INFORMATION</strong></p>

<p>Individuals have certain rights of access to their personal data, including the rights to see the personal data held about them and to ask that necessary changes are made to ensure that those data are accurate and up to date. If you wish to do this, please contact: leftsupport@zoo.ox.ac.uk. The law allows us to charge a small fee to meet our costs in providing you with details of your personal data that we hold.</p>

<p><strong>CHANGES TO OUR PRIVACY POLICY</strong></p>

<p>We may change this privacy policy at any time without notice, so please check this policy each time you visit this website. </p>

<p><strong>CONTACT</strong></p>

<p>Questions, comments and requests regarding this privacy policy are welcomed and should be addressed to us by telephone at +44 1865 281 878 or by writing to us <a asp-action="Contact" asp-controller="Home">here</a> or Oxford Long-term Ecology Laboratory, Department of Zoology, The Tinbergen Building, South Parks Road, Oxford OX1 3PS.</p>
