<a href="https://www.ox.ac.uk" target="_blank"><img class="footer-logo" src="/images/logo-oxford.gif" style="margin-right: 1em; width: 6em; height: 6em;" alt="University of Oxford"/></a>
<a href="https://www.oxlel.zoo.ox.ac.uk" target="_blank"><img class="footer-logo" src="/images/logo-oxlel.png" style="margin-right: 1em; width: 6em; height: 6em;" alt="Oxford Long-Term Ecology Lab"/></a>