$primary-color: #A93E71;
$primary-color-accent: #652543;

$footer-background: #652543;
$footer-text: #e2d4db;
$footer-links: rgb(221, 178, 199);

$navbar-background: #FFF;

$input-glow-colour: rgba(169, 62, 113, 150);