@model Ecoset.WebUI.Models.JobViewModels.AddJobViewModel

@{
    //Layout = "_DashboardLayout";
    ViewData["Title"] = "New Analysis";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />

    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
    <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

    <script src="/scripts/mapselect.js"></script>
}

<h2>@ViewData["Title"].</h2>
<hr/>

</p>

<form asp-action="Submit" asp-anti-forgery="true" onsubmit="" id="map-form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class=" col-md-12 form-group form-group-lg">
            <input asp-for="Name" class="form-control" placeholder="Title for Analysis"/>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-12 form-group">
            <textarea asp-for="Description" class="form-control" placeholder="Enter an optional description to help you find this analysis later..."></textarea>
        </div>
    </div>

    <p>Select an area for analysis on the map, or input the coordinates:</p>
    <div id='map'>
    <div id='layer-menu' class="btn-group" role="group">
          <button type="button" class="btn btn-default btn-sm active" value="outdoors">Feature</button>
          <button type="button" class="btn btn-default btn-sm" value="satellite">Satellite</button>
    </div>
    <div class="coordinates-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-globe"></span> Coordinates</h3>
            </div>
            <div class="panel-body">
                <div style="text-align:center;">
                    <div class="form-group form-group-sm">
                        <input asp-for="LatitudeNorth" class="form-control" placeholder="North" style="text-align:center;width: 40%;margin-left:auto;margin-right:auto;"/>
                        <span asp-validation-for="LatitudeNorth"/>
                    </div>
                    <div class="form-group form-group-sm">
                        <input asp-for="LongitudeWest" class="form-control" placeholder="West" style="text-align:center;width: 40%; display:inline-block"/>
                        <input asp-for="LongitudeEast" class="form-control" placeholder="East" style="text-align:center;width:40%;display:inline-block" />
                    </div>
                    <div class="form-group form-group-sm">
                        <input asp-for="LatitudeSouth" class="form-control" placeholder="South" style="text-align:center;width: 40%;margin-left:auto;margin-right:auto;"/>
                    </div>
                    <a class="btn btn-primary" type="button" id="draw-area-button"><span class="glyphicon glyphicon-modal-window"></span> Draw new area</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input id="submit" class="btn btn-primary" type="submit" value="Start Analysis"/>
            <a asp-action="Index" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>

<script type="text/javascript">
$(document).ready(function() {
    initMapboxWithDraw('@siteConfig.Value.MapboxAccessToken', @siteConfig.Value.MaximumAnalysisHeight, @siteConfig.Value.MaximumAnalysisWidth);
});
$("#submit").click(function (e) {
    $(e.currentTarget).closest("form").validate().settings.ignore = ":hidden";
});
</script>