$primary-color: #A93E71;
$primary-color-accent: #652543;

$footer-background: #f9f9f9;
$footer-text: black;
$footer-links: #A93E71;

$navbar-background: #FFF;

$input-glow-colour: rgba(169, 62, 113, 150);