@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Administration";
    ViewData["SubTitle"] = "";
}

<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#summary" role="tab" data-toggle="tab">Summary</a></li>
    <li role="presentation"><a href="#analyses" role="tab" data-toggle="tab">All Analyses</a></li>
    <li role="presentation"><a href="#data-packages" role="tab" data-toggle="tab">Data Packages</a></li>
    <li role="presentation"><a href="#users" role="tab" data-toggle="tab">Users</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    @* Tab Panel: Summary *@
    <div role="tabpanel" class="tab-pane active" id="summary">
      @* Summary panels *@
      <h4>At a Glance</h4>
      <hr/>
      <div class="row">
        <div class="col-md-4">
          <div data-bind="css: { 'panel-error': problemCount() > 0, 'panel-info': problemCount() == 0 }" class="panel">
            <div class="panel-body">
              <a href="#summary-problems">
                <span class="glyphicon glyphicon-fire" aria-hidden="true" style="font-size:1.2em"></span>
                <span data-bind="text: problemCount"></span> Problem(s)
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div data-bind="css: { 'panel-inprogress': inProgressCount() > 0, 'panel-info': inProgressCount() == 0 }" class="panel">
            <div class="panel-body">
              <span class="glyphicon glyphicon-time" aria-hidden="true" style="font-size:1.2em"></span>
              <span data-bind="text: inProgressCount"></span> In Progress
            </div>
          </div>
        </div>
      </div>

      @* In progress summary *@
      <h4>In Progress</h4>
      <hr/>
      <ul class="list-group" data-bind="template: { name: 'analysis-summary-template', foreach: inProgress }"></ul>

      @* Problems summary *@
      <h4 id="#summary-problems">Current Problems</h4>
      <hr/>
      <ul class="list-group" data-bind="template: { name: 'analysis-summary-template', foreach: problems }"></ul>

      @* Subscription Actions *@
      <h4>Subscriptions</h4>
      <hr/>
      <p>Subscriptions elevate or completely remove constraints on analysis concurrency and daily caps. Subscriptions may be defined for individuals or organisations.</p>
      <a class="btn btn-default" asp-action="Subscriptions" role="button">Manage subscriptions</a>
      <a class="btn btn-default" asp-action="AddSubscription" role="button">Register a newly agreed subscription</a>
    </div>

    @* Tab Panel: Analyses *@
    <div role="tabpanel" class="tab-pane" id="analyses">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Analysis ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Report</th>
            <th>Dataset</th>
            <th>Submitted By</th>
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody data-bind="template: { name: 'analysis-template', foreach: analyses }"></tbody>
      </table>
    </div>

    @* Tab Panel: Analyses *@
    <div role="tabpanel" class="tab-pane" id="data-packages">
      <ul class="list-group" data-bind="template: { name: 'data-package-summary-template', foreach: dataPackages }"></ul>
    </div>

    @* Tab Panel: Users *@
    <div role="tabpanel" class="tab-pane" id="users">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Organisation</th>
            <th>Jobs</th>
            <th>Credits</th>
            <th>Registered</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody data-bind="foreach: users">
            <tr>
                <td><p data-bind="text: name"></p></td>
                <td><p data-bind="text: userName"></p></td>
                <td><p data-bind="text: organisation"></p></td>
                <td><span data-bind="text: activeJobs"></span> active. <span data-bind="text: completeJobs"></span> complete.</td>
                <td>
                  @if (siteConfig.Value.PaymentsEnabled) {
                    <p data-bind="text: credits"></p>
                    <a class="btn btn-default" data-bind="click: $parent.addCredits.bind($data, 1)">+1</a>
                    <a class="btn btn-default" data-bind="click: $parent.addCredits.bind($data, 10)">+10</a>
                  }
                </td>
                <td><p data-bind="text: registrationDate"></p></td>
                <td>
                  <button data-bind="click: $parent.makeAdmin" class="btn btn-default">Make Admin</button>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

@* Knockout template: analysis table row *@
<script type="text/html" id="analysis-template">
  <tr>
      <td><p data-bind="text: id"></p></td>
      <td><p data-bind="text: name"></p></td>
      <td><p data-bind="text: description"></p></td>
      <td><span data-bind="text: status, attr:{ 'class': 'label label-' + status}"></span></td>
      <td><span data-bind="text: proStatus, attr:{ 'class': 'label label-' + proStatus}"></span></td>
      <td><p data-bind="text: submittedBy"></p></td>
      <td><p data-bind="text: dateAdded"></p></td>
      <td>
        <div data-bind="visible: status == 'Completed'">
          <a target="_blank" class="btn btn-default" data-bind="attr: { href: '/Analysis/Home/Report/' + id }">Download Report</a>
        </div>
        <div data-bind="visible: proStatus == 'Completed'">
          <a target="_blank" class="btn btn-default" data-bind="attr: { href: '/Analysis/Home/ProData/' + id }">Download Data Archive</a>
        </div>
        <br/>
        <button data-bind="visible: status == 'Failed' || status == 'Completed' || status == 'Queued' || status == 'Processing' || status == 'GeneratingOutput', click: $parent.restartAnalysis" class="btn btn-default">Rerun Free Report</button>
        <button data-bind="visible: proStatus == 'Failed' || proStatus == 'Completed' || proStatus == 'Submitted' || proStatus == 'Queued' || proStatus == 'Processing' || proStatus == 'GeneratingOutput', click: $parent.restartPro" class="btn btn-default">Recreate Pro Data</button>
        <button data-bind="visible: status == 'Failed' || proStatus == 'Failed', click: $parent.hide" class="btn btn-default">Hide</button>
      </td>
  </tr>
</script>

<script type="text/html" id="analysis-summary-template">
  <li class="list-group-item">
    <p>
      <span aria-hidden="true" class="glyphicon glyphicon-console"></span> <span data-bind="text: name"></span> <span data-bind="text: status, attr:{ 'class': 'label label-' + status}"></span>
    </p>
    Submitted by <span data-bind="text: submittedBy"></span> at <span data-bind="text: dateAdded"></span>.
    <button data-bind="visible: status == 'Failed' || status == 'Completed' || status == 'Queued' || status == 'Processing' || status == 'GeneratingOutput', click: $parent.restartAnalysis" class="btn btn-default">Rerun Free Report</button>
  </li>
</script>

<script type="text/html" id="data-package-summary-template">
  <li class="list-group-item">
    <p>
      <span aria-hidden="true" class="glyphicon glyphicon-console"></span> <span data-bind="text: id"></span> <span data-bind="text: status, attr:{ 'class': 'label label-' + status}"></span>
    </p>
    Submitted by <span data-bind="text: submittedBy"></span> at <span data-bind="text: dateAdded"></span>.
    <a data-bind="attr: { href: '#dp-' + $index() }" data-toggle="collapse"" aria-expanded="false" aria-controls="collapseExample">
      See contents.
    </a>
    <div class="collapse" data-bind="attr: { id: 'dp-' + $index() }">
      <div class="well">
        <span data-bind="text: query"></span>
      </div>
    </div>
  </li>
</script>


@section Scripts {
    <script src="/scripts/admin-app.js"></script>
    <environment names="Development">
        <script src="/lib/knockout/knockout-min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.3.0.js"></script>
    </environment>
}