@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Data Packages API";
}

<div class="row">
    <div class="col-md-8">
        <p>Use the Data Packages API to integrate @siteConfig.Value.InstanceShortName datasets into your workflow or line-of-business application.
    </div>
    <div class="col-md-4">
        <div class="panel panel-default" id="credits-pane">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-cloud-download"></span> Your Rate Limit</h3>
            </div>
            <div class="panel-body" style="text-align:center;">
                <span id="credit-count" style="font-size:3em;">Off</span><br /><span>Credits</span>
            </div>
        </div>
    </div>
</div>