<a href="https://www.ox.ac.uk" target="_blank"><img class="footer-logo" src="/images/oxford-logo.gif" style="margin-right: 1em; width: 6em; height: 6em;" alt="University of Oxford"/></a>
<img class="footer-logo" src="/images/oet-logo.png" alt="Oxford Environmental Tools"/>
