@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">We're Sorry.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>Help</h3>
<p>
    Please try again. If the issue persists, please contact support.
</p>
